/* header */
.menu {
    background-color: #212529;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-brand:hover {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: #99958d;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

/* banner */
.banner__bg {
    background-color: #f8f9fa;
    padding: 90px 0;
}

.banner h1 {
    font-size: 3rem;
    font-weight: 700;
}

.banner p {
    padding: 0 150px;
    font-size: 1.5rem;
}

.banner button {
    font-size: 21px;
}

/* item */
.item__bg {
    background-color: #f8f9fa;
}

.icon {
    margin-top: -50px;
    margin-bottom: 1.5rem;
    display: inline-flex;
    height: 65px;
    width: 65px;
    background-color: #2d81fd;
    line-height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;
}

.item__bg {
    padding-bottom: 20px;
    border-radius: 8px;
}

.item h3 {
    font-size: 25px;
}

/* footer */
footer {
    background-color: #212529;
    color: white;
}